# dépendances du modèle
mlflow==2.17.0
cloudpickle==3.1.0
numpy==1.26.0
pandas==2.2.3
scikit-learn==1.5.2
scipy==1.13.1
torch==2.0.1  # Version CPU de PyTorch
torchvision==0.15.2  # Version CPU de Torchvision
transformers==4.47.0
jinja2==3.1.4

# fonctionnement de l'app
Flask
azure-storage-blob
gunicorn
deep-translator
pytest

# suivi dans Azure Application Insight
azure-monitor-opentelemetry-exporter
opentelemetry-api
opentelemetry-sdk

--extra-index-url https://download.pytorch.org/whl/cpu